@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-shadow-white: 0 35px 35px rgb(255, 255, 255, 1);
}

h1 {
  @apply text-6xl font-black;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-medium;
}

h5 {
  @apply text-lg;
}

button {
  @apply select-none;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
